LLM-based code generation for MTL/Workflows/n8n-docker/workflows/qvto_variants/Prompting_qvto_gemini_zero_shot.json
{
  "name": "Prompting_QVTO_gemini_only_prompt",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        -560
      ],
      "id": "dc1f244b-2830-4e4d-afc8-019c4afdd6f1",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}\n\n-- End of request.\nHere are the models:\n{{ $json.concatenated_model }}\n\nThe models are located here:\n\"http://www.eclipse.org/emf/2002/Ecore\"\n\n{{ $('Set Parameters').item.json.Few_shot ? \"Here are some examples as guideline:\\n\" + $('Extract text from examples file').item.json.examples : \"\" }}\n\n\n{{ $('Set Parameters').item.json.Grammar ? \"Here is the grammar of the Language:\\n\" + $('Extract text from grammar').item.json.grammar : \"\"}}\n\n{{ $('Set Parameters').item.json.Helper_methods ? \"Here are helper methods you can use:\\n\" + $('Extract text from helper methods').item.json.helper_methods : \"\"}}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert developer for the **QVT Operational Mappings (QVT-O)** (model transformation DSL).\nYour job is to translate the user's natural-language specification into a complete, syntactically valid .qvto file.\n\nRules\n1. Follow the QVT-O grammar exactly (modeltype declarations, transformation header with in/out parameters, main() entry point, mapping declarations with optional when clauses, init blocks, constructors, mapping extensions such as inherits/merges/disjuncts, resolve expressions, object literals, etc.).\n2. Use the transformation and mapping names provided by the user whenever they are specified.\n3. If a name is missing, invent a concise, CamelCase name that matches the intent.\n4. Do **not** wrap it in Markdown fences, and do **not** add commentary, explanations, or blank lines beyond what the language requires."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1296,
        -64
      ],
      "id": "c6bae90a-fa91-4a97-b3bf-b31da69937a8",
      "name": "(Re-)Generate code"
    },
    {
      "parameters": {
        "fileSelector": "=/data/examples/qvto/Examples.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        736,
        -32
      ],
      "id": "e156b47d-ce26-4bbe-8bf8-dfeff1dcee10",
      "name": "Read few shot examples",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/snippets/QVTO_language/responses/gemini-2-5-pro/only_prompt/{{ $node[\"Save file name\"].json.baseName }}.qvto",
        "dataPropertyName": "={{$node[\"(Re-)Generate code\"].json.text}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1632,
        320
      ],
      "id": "55f8afa0-d780-4875-980f-2c90b0dd858f",
      "name": "Write response to disk"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "binaryPropertyName": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1440,
        320
      ],
      "id": "94ba3e64-0dd9-4a37-9022-b652fcca3b31",
      "name": "Convert response to File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -112
      ],
      "id": "8c5b9def-ac57-40fe-98e1-5dbd173e8245",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "examples",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        912,
        -32
      ],
      "id": "f645fb1b-9036-4b78-ac52-dd71ca26a1d0",
      "name": "Extract text from examples file"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -224
      ],
      "id": "3c40e0f2-de82-406d-9738-1969b9e7fb5f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fileSelector": "/data/grammar/qvto/EBNF.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        736,
        128
      ],
      "id": "9f72d2b9-19ec-4aa8-bebd-2626d1c00866",
      "name": "Read Grammar"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "grammar",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        912,
        128
      ],
      "id": "7c730442-e435-4439-82ce-91e5023f0e07",
      "name": "Extract text from grammar"
    },
    {
      "parameters": {
        "fileSelector": "=/data/snippets/QVTO_language/prompts/*",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        448,
        -560
      ],
      "id": "87f63b50-977a-495d-b740-5efdc24ed52e",
      "name": "Read prompt files",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "prompt",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        736,
        -368
      ],
      "id": "2557763e-d5c2-4693-886a-8d0388c22a5d",
      "name": "Extract text from prompt file"
    },
    {
      "parameters": {
        "fileSelector": "=/data/models/additional_models/QVT-O_model/*.ecore",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        576,
        -208
      ],
      "id": "80436a18-ce4a-4543-9ae8-b0033aaba4d2",
      "name": "Read model files",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "model",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        736,
        -208
      ],
      "id": "eba75237-4635-45c3-875d-00f54aa3e29b",
      "name": "Extract text from model files"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f590be66-b4b3-4dfc-b0e5-36581e6dbafd",
              "leftValue": "={{ $json.Few_shot }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -16
      ],
      "id": "137304a4-4a4a-4348-b41e-4701a6842494",
      "name": "Few_shot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a843e9b-8d9f-411d-8280-f61f03a42f8c",
              "leftValue": "={{ $json.Grammar }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        144
      ],
      "id": "9f281e3e-95ad-48ed-8eb4-13813e4b1cbc",
      "name": "Grammar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eec9b874-922d-46c8-bc96-d1f78cc872fe",
              "leftValue": "={{ $json.Helper_methods }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        304
      ],
      "id": "1b90aff0-e174-4230-89e0-46ff2f07db4f",
      "name": "Helper_methods"
    },
    {
      "parameters": {
        "fileSelector": "/data/helper_methods//*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        736,
        288
      ],
      "id": "24f7f1cd-8f4f-4a6d-a247-2b75493aaa94",
      "name": "Read helper methods"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2-5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        128
      ],
      "id": "73825d87-1a5a-4092-b5d2-05cc67027da1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nUZ88X2Akoz1dXpt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "model",
              "separateBy": "\n"
            },
            {
              "aggregation": "concatenate",
              "field": "model",
              "includeEmpty": "=",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        912,
        -208
      ],
      "id": "5d0a3767-c880-4497-b36c-961ea5513700",
      "name": "Summarize"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "helper_methods",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        912,
        288
      ],
      "id": "8ed159db-a9fe-4851-a494-2d72983d8e2c",
      "name": "Extract text from helper methods"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf91fabc-190e-4ba4-a497-ea76065895b2",
              "name": "Few_shot",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "56bb34a6-78a5-4a39-9ac3-1e0c096ba4b3",
              "name": "Grammar",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "600c1cf7-2b22-4099-a251-974418755c47",
              "name": "Helper_methods",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        16
      ],
      "id": "7553299d-7a8c-4ae7-adf2-cd841dc3dac1",
      "name": "Set Parameters"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e290c1f7-14da-4a02-8f1d-548e2d91f7a8",
              "name": "baseName",
              "value": "={{$binary.data.fileName.split('.').slice(0,-1).join('.')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -368
      ],
      "id": "6778ec9a-1526-4d8d-91bd-13871bd5bfea",
      "name": "Save file name"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read prompt files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Re-)Generate code": {
      "main": [
        [
          {
            "node": "Convert response to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read few shot examples": {
      "main": [
        [
          {
            "node": "Extract text from examples file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert response to File": {
      "main": [
        [
          {
            "node": "Write response to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "(Re-)Generate code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from examples file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Write response to disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Read model files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract text from prompt file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save file name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Grammar": {
      "main": [
        [
          {
            "node": "Extract text from grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from grammar": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Read prompt files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from prompt file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read model files": {
      "main": [
        [
          {
            "node": "Extract text from model files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from model files": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Few_shot": {
      "main": [
        [
          {
            "node": "Read few shot examples",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Grammar": {
      "main": [
        [
          {
            "node": "Read Grammar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Helper_methods": {
      "main": [
        [
          {
            "node": "Read helper methods",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Read helper methods": {
      "main": [
        [
          {
            "node": "Extract text from helper methods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "(Re-)Generate code",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract text from helper methods": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Helper_methods",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grammar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Few_shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save file name": {
      "main": [
        [
          {
            "node": "Extract text from prompt file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "eeae7320-0f5d-4ef8-8096-217962839152",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "baac600b301729508052ad55e0d8a15d3b34368b7a1ed3c61d229191ca3faa41"
  },
  "id": "qvto_gemini_only_prompt",
  "tags": []
}