LLM-based code generation for MTL/Workflows/n8n-docker/workflows/qvto_variants/Prompting_qvto_gemini_few_shot_AND_grammar.json
{
  "name": "Prompting_QVTO_gemini_few_shot_AND_grammar",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        272,
        -560
      ],
      "id": "1d6e95c7-4f3e-4150-b91d-21f0699840c7",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}\n\n-- End of request.\nHere are the models:\n{{ $json.concatenated_model }}\n\nThe models are located here:\n\"http://www.eclipse.org/emf/2002/Ecore\"\n\n{{ $('Set Parameters').item.json.Few_shot ? \"Here are some examples as guideline:\\n\" + $('Extract text from examples file').item.json.examples : \"\" }}\n\n\n{{ $('Set Parameters').item.json.Grammar ? \"Here is the grammar of the Language:\\n\" + $('Extract text from grammar').item.json.grammar : \"\"}}\n\n{{ $('Set Parameters').item.json.Helper_methods ? \"Here are helper methods you can use:\\n\" + $('Extract text from helper methods').item.json.helper_methods : \"\"}}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert developer for the **QVT Operational Mappings (QVT-O)** (model transformation DSL).\nYour job is to translate the user's natural-language specification into a complete, syntactically valid .qvto file.\n\nRules\n1. Follow the QVT-O grammar exactly (modeltype declarations, transformation header with in/out parameters, main() entry point, mapping declarations with optional when clauses, init blocks, constructors, mapping extensions such as inherits/merges/disjuncts, resolve expressions, object literals, etc.).\n2. Use the transformation and mapping names provided by the user whenever they are specified.\n3. If a name is missing, invent a concise, CamelCase name that matches the intent.\n4. Do **not** wrap it in Markdown fences, and do **not** add commentary, explanations, or blank lines beyond what the language requires."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1296,
        -64
      ],
      "id": "95a411a9-ca26-451f-b7fd-6db0ba067d96",
      "name": "(Re-)Generate code"
    },
    {
      "parameters": {
        "fileSelector": "=/data/examples/qvto/Examples.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        736,
        -32
      ],
      "id": "bc008b1d-9324-488b-9b32-f7ec58f1e304",
      "name": "Read few shot examples",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/snippets/QVTO_language/responses/gemini-2-5-pro/few_shot_AND_grammar/{{ $node[\"Save file name\"].json.baseName }}.qvto",
        "dataPropertyName": "={{$node[\"(Re-)Generate code\"].json.text}}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1632,
        320
      ],
      "id": "a1d23af3-9a53-44ed-8120-48b9bb21126a",
      "name": "Write response to disk"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "binaryPropertyName": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1440,
        320
      ],
      "id": "e5dcb0d9-ff88-4292-ae54-1a68d9e36132",
      "name": "Convert response to File",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -112
      ],
      "id": "d97c36e3-b02f-47a0-b5dd-f3d2e4e7c33a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "examples",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        912,
        -32
      ],
      "id": "c0356543-e9cd-4b2c-aaac-a2a94d932033",
      "name": "Extract text from examples file"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -224
      ],
      "id": "fb19b458-980f-4c99-82ed-87654acd322d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fileSelector": "/data/grammar/qvto/EBNF.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        736,
        128
      ],
      "id": "876ab8d4-0455-41c9-b300-9d0ed16966ac",
      "name": "Read Grammar"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "grammar",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        912,
        128
      ],
      "id": "18e0491d-5795-4982-ad3c-864419c6c9b6",
      "name": "Extract text from grammar"
    },
    {
      "parameters": {
        "fileSelector": "=/data/snippets/QVTO_language/prompts/*",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        448,
        -560
      ],
      "id": "3b876efc-0a8e-4aa6-9c58-461683fb560f",
      "name": "Read prompt files",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "prompt",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        736,
        -368
      ],
      "id": "c1011915-7b1a-41b5-8ee2-036a06c8e47c",
      "name": "Extract text from prompt file"
    },
    {
      "parameters": {
        "fileSelector": "=/data/models/additional_models/QVT-O_model/*.ecore",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        576,
        -208
      ],
      "id": "eb3dc830-f5a3-4ed1-b26a-243d92bdbcaa",
      "name": "Read model files",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "model",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        736,
        -208
      ],
      "id": "903181e9-32c2-406d-82b3-763935b6d784",
      "name": "Extract text from model files"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d8c2d1e-f1df-4a17-ab00-f2e4caf02c9f",
              "leftValue": "={{ $json.Few_shot }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -16
      ],
      "id": "6df00bcf-d83f-4e22-9f5a-97843a959365",
      "name": "Few_shot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02d1d0ca-18a1-4320-8e25-8f878b83058a",
              "leftValue": "={{ $json.Grammar }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        144
      ],
      "id": "4936c1ea-efbb-4494-a3cf-baab1e8c20c8",
      "name": "Grammar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1b6cbe8-039a-4148-a957-ee771244d18f",
              "leftValue": "={{ $json.Helper_methods }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        304
      ],
      "id": "0b544ac6-ceca-4d8d-8cfd-b5cc46abf7d5",
      "name": "Helper_methods"
    },
    {
      "parameters": {
        "fileSelector": "/data/helper_methods//*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        736,
        288
      ],
      "id": "e34d29ec-1068-4d77-8f02-2fe13f9727fe",
      "name": "Read helper methods"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2-5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        128
      ],
      "id": "b595251f-1c0f-4094-8b89-6c52448135f6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "nUZ88X2Akoz1dXpt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "model",
              "separateBy": "\n"
            },
            {
              "aggregation": "concatenate",
              "field": "model",
              "includeEmpty": "=",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        912,
        -208
      ],
      "id": "a6c8b63e-7e71-4f31-a834-4c5bc25599d1",
      "name": "Summarize"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "helper_methods",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        912,
        288
      ],
      "id": "0013446d-7957-4538-96c0-e161782f3704",
      "name": "Extract text from helper methods"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8a96ef8-79e0-42b2-a501-fc93efe2c655",
              "name": "Few_shot",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "a53c882e-5af4-44fa-9f81-0f540333e96c",
              "name": "Grammar",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "e0743400-49fe-41b0-bb6d-eca8e31975f1",
              "name": "Helper_methods",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        16
      ],
      "id": "47031e02-6fb2-4535-89f4-8e783d64cd7b",
      "name": "Set Parameters"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6739a12-ecb2-4e3e-984c-c54507dca05c",
              "name": "baseName",
              "value": "={{$binary.data.fileName.split('.').slice(0,-1).join('.')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -368
      ],
      "id": "068a7894-7d82-4ed9-85b9-701e040da09d",
      "name": "Save file name"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read prompt files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Re-)Generate code": {
      "main": [
        [
          {
            "node": "Convert response to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read few shot examples": {
      "main": [
        [
          {
            "node": "Extract text from examples file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert response to File": {
      "main": [
        [
          {
            "node": "Write response to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "(Re-)Generate code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from examples file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Write response to disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Read model files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract text from prompt file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save file name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Grammar": {
      "main": [
        [
          {
            "node": "Extract text from grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from grammar": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Read prompt files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from prompt file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read model files": {
      "main": [
        [
          {
            "node": "Extract text from model files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from model files": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Few_shot": {
      "main": [
        [
          {
            "node": "Read few shot examples",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Grammar": {
      "main": [
        [
          {
            "node": "Read Grammar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Helper_methods": {
      "main": [
        [
          {
            "node": "Read helper methods",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Read helper methods": {
      "main": [
        [
          {
            "node": "Extract text from helper methods",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "(Re-)Generate code",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract text from helper methods": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Helper_methods",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grammar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Few_shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save file name": {
      "main": [
        [
          {
            "node": "Extract text from prompt file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d20ed3e0-152d-499e-bbe7-780c4d7851cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "baac600b301729508052ad55e0d8a15d3b34368b7a1ed3c61d229191ca3faa41"
  },
  "id": "qvto_gemini_few_shot_AND_grammar",
  "tags": []
}