LLM-based code generation for MTL/Test_Generation/Workflows/n8n-docker/workflows/etl_variants/Prompt_generation_tests_etl_qwen2-5-coder-1-5b.json
{
  "name": "Prompt_generation_tests_ETL_qwen2.5-coder-1.5b_smoke",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2112,
        -64
      ],
      "id": "b2c3d4e5-2001-4e01-b001-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "fileSelector": "=/data/snippets/ETL_test_generation/references/Tree2Graph.etl",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1920,
        -64
      ],
      "id": "b2c3d4e5-2001-4e01-b001-000000000002",
      "name": "Read reference file",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2112,
        224
      ],
      "id": "b2c3d4e5-2001-4e01-b001-000000000003",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2c3d4e5-2001-4e01-b001-100000000001",
              "name": "baseName",
              "value": "={{$binary.data.fileName.split('.').slice(0,-1).join('.')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        272
      ],
      "id": "b2c3d4e5-2001-4e01-b001-000000000004",
      "name": "Save reaction name"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1664,
        368
      ],
      "id": "b2c3d4e5-2001-4e01-b001-000000000005",
      "name": "Extract text from reference file",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fileSelector": "=/data/models/etl/*.ecore",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1824,
        128
      ],
      "id": "b2c3d4e5-2001-4e01-b001-000000000006",
      "name": "Read model files",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "model",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1648,
        128
      ],
      "id": "b2c3d4e5-2001-4e01-b001-000000000007",
      "name": "Extract text from model files"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "model",
              "separateBy": "\n"
            },
            {
              "aggregation": "concatenate",
              "field": "model",
              "includeEmpty": "=",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -1472,
        128
      ],
      "id": "b2c3d4e5-2001-4e01-b001-000000000008",
      "name": "Summarize"
    },
    {
      "parameters": {
        "fileSelector": "/data/grammar/etl/EBNF.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1824,
        496
      ],
      "id": "b2c3d4e5-2001-4e01-b001-000000000009",
      "name": "Read Grammar"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "grammar",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1504,
        496
      ],
      "id": "b2c3d4e5-2001-4e01-b001-00000000000a",
      "name": "Extract text from grammar"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1344,
        304
      ],
      "id": "b2c3d4e5-2001-4e01-b001-00000000000b",
      "name": "Merge models, reference and grammar",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen2.5-coder:1.5b', stream: false, messages: [ { role: 'system', content: 'Produce only the developer prompt text, not the Java test itself. The prompt must ask for an executable Java/JUnit semantic test suite for Tree2Graph. It must require exact file blocks for GeneratedTree2GraphSemanticTest.java and three model files: tree_simple.model, tree_branching.model, tree_deep.model. It must forbid depending on manual Tree2GraphTest and must state that generated tests become the semantic oracle only after technical and reference validation.' }, { role: 'user', content: 'Reference ETL transformation file: ' + ($json.baseName || 'Tree2Graph') + '.etl\\n\\nReference ETL transformation code:\\n\\n' + ($json.data || '') + '\\n\\nSource and target metamodels:\\n' + ($json.concatenated_model || '') + '\\n\\nETL grammar for context:\\n' + ($json.grammar || '') + '\\n\\nGenerate the final developer prompt for creating a Tree2Graph semantic JUnit test suite. It must require assertions for graph node creation, node name preservation, graph edge creation for parent-child relations, correct edge endpoints, and no superfluous nodes or edges.' } ], options: { temperature: 0.1, top_p: 1 } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        320
      ],
      "id": "b2c3d4e5-2001-4e01-b001-00000000000c",
      "name": "Generate Prompt with local Qwen"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2c3d4e5-2001-4e01-b001-100000000002",
              "name": "text",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        320
      ],
      "id": "b2c3d4e5-2001-4e01-b001-00000000000d",
      "name": "Extract Qwen prompt text"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "binaryPropertyName": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -864,
        320
      ],
      "id": "b2c3d4e5-2001-4e01-b001-00000000000e",
      "name": "Convert prompt to file"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/snippets/ETL_test_generation/prompts_smoke/{{ $node[\"Merge models, reference and grammar\"].json.baseName }}.qwen-smoke.txt",
        "dataPropertyName": "={{ $('Extract Qwen prompt text').item.json.text }}",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -848,
        528
      ],
      "id": "b2c3d4e5-2001-4e01-b001-00000000000f",
      "name": "Write prompt to disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read reference file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read reference file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Save reaction name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract text from reference file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read model files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save reaction name": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Extract text from reference file": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read model files": {
      "main": [
        [
          {
            "node": "Extract text from model files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from model files": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Grammar": {
      "main": [
        [
          {
            "node": "Extract text from grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from grammar": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge models, reference and grammar": {
      "main": [
        [
          {
            "node": "Generate Prompt with local Qwen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt with local Qwen": {
      "main": [
        [
          {
            "node": "Extract Qwen prompt text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Qwen prompt text": {
      "main": [
        [
          {
            "node": "Convert prompt to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert prompt to file": {
      "main": [
        [
          {
            "node": "Write prompt to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write prompt to disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "baac600b301729508052ad55e0d8a15d3b34368b7a1ed3c61d229191ca3faa41"
  },
  "tags": []
}
