LLM-based code generation for MTL/Test_Generation/Workflows/n8n-docker/workflows/etl_variants/prompt_generation/Prompt_generation_tests_ETL_gpt-5.json
{
  "name": "Prompt_generation_tests_ETL_gpt-5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2112,
        -64
      ],
      "id": "a1b2c3d4-1001-4e01-b001-000000000001",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reference ETL transformation file: {{ $json.baseName }}.etl\n\nReference ETL transformation code:\n\n{{ $json.data }}\n\nSource and target metamodels:\n{{ $json.concatenated_model }}\n\nETL grammar for context:\n{{ $json.grammar }}\n\nGenerate a DRAFT developer prompt body for semantic test-case generation. This workflow writes drafts only; production prompts are built deterministically by Test_Generation/scripts/etl/build_task_prompts.py from task contracts and reference ETL.\n\nThe draft must not ask for Java/JUnit. It must ask for semantic_cases.json and generated source model files only. It must use the task-generic schema and canonical assertion payloads: count={kind,model,type,expected:int}, featureValues={kind,model,type,feature,expected:[string]}, pathValues={kind,model,type,path,expected:[string]}, objects={kind,model,type,features:[string],expected:[object]}, referencePairs={kind,model,type,source,target,expected:[{source,target}]}.\n\nDo not use transformation-specific fields such as expectedNodes/expectedEdges and do not use alternate assertion keys such as value, values, equals, ids, pairs, sourceType, targetType, where, or match.\n",
        "messages": {
          "messageValues": [
            {
              "message": "Produce only a reusable draft prompt body. Do not claim that contract sections are automatically injected into this draft. Do not write concrete task facts unless they are explicitly present in the input. Production prompts are generated by the deterministic Python builder, not by this draft workflow."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1168,
        320
      ],
      "id": "a1b2c3d4-1001-4e01-b001-000000000002",
      "name": "Generate Prompt from Input"
    },
    {
      "parameters": {
        "fileSelector": "=/data/snippets/ETL_test_generation/references/*.etl",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1920,
        -64
      ],
      "id": "a1b2c3d4-1001-4e01-b001-000000000003",
      "name": "Read reference file",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "binaryPropertyName": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -864,
        320
      ],
      "id": "a1b2c3d4-1001-4e01-b001-000000000004",
      "name": "Convert prompt to file"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/snippets/ETL_test_generation/prompt_drafts/gpt-5/{{ $node[\"Merge models, reference and grammar\"].json.baseName }}.txt",
        "dataPropertyName": "={{ $('Generate Prompt from Input').item.json.text }}",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -848,
        528
      ],
      "id": "a1b2c3d4-1001-4e01-b001-000000000005",
      "name": "Write draft prompt to disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1664,
        368
      ],
      "id": "a1b2c3d4-1001-4e01-b001-000000000006",
      "name": "Extract text from reference file",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-1001-4e01-b001-100000000001",
              "name": "baseName",
              "value": "={{$binary.data.fileName.split('.').slice(0,-1).join('.')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        272
      ],
      "id": "a1b2c3d4-1001-4e01-b001-000000000007",
      "name": "Save reaction name"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2112,
        224
      ],
      "id": "a1b2c3d4-1001-4e01-b001-000000000008",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fileSelector": "/data/grammar/etl/EBNF.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1824,
        496
      ],
      "id": "a1b2c3d4-1001-4e01-b001-000000000009",
      "name": "Read Grammar"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "grammar",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1504,
        496
      ],
      "id": "a1b2c3d4-1001-4e01-b001-00000000000a",
      "name": "Extract text from grammar"
    },
    {
      "parameters": {
        "fileSelector": "=/data/models/etl/*.ecore",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1824,
        128
      ],
      "id": "a1b2c3d4-1001-4e01-b001-00000000000b",
      "name": "Read model files",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "model",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1648,
        128
      ],
      "id": "a1b2c3d4-1001-4e01-b001-00000000000c",
      "name": "Extract text from model files"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "timeout": 600000,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1168,
        496
      ],
      "id": "a1b2c3d4-1001-4e01-b001-00000000000d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "8mtpdiKzgoTWwPSM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "model",
              "separateBy": "\n"
            },
            {
              "aggregation": "concatenate",
              "field": "model",
              "includeEmpty": "=",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -1472,
        128
      ],
      "id": "a1b2c3d4-1001-4e01-b001-00000000000e",
      "name": "Summarize"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1344,
        304
      ],
      "id": "a1b2c3d4-1001-4e01-b001-00000000000f",
      "name": "Merge models, reference and grammar",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read reference file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt from Input": {
      "main": [
        [
          {
            "node": "Convert prompt to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read reference file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert prompt to file": {
      "main": [
        [
          {
            "node": "Write draft prompt to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from reference file": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Save reaction name",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract text from reference file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read model files",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Grammar": {
      "main": [
        [
          {
            "node": "Extract text from grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from grammar": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Write prompt to disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read model files": {
      "main": [
        [
          {
            "node": "Extract text from model files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from model files": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge models, reference and grammar": {
      "main": [
        [
          {
            "node": "Generate Prompt from Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save reaction name": {
      "main": [
        [
          {
            "node": "Merge models, reference and grammar",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Prompt from Input",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "baac600b301729508052ad55e0d8a15d3b34368b7a1ed3c61d229191ca3faa41"
  },
  "tags": []
}
